# Visual Studio / .NET
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build output
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini
